@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
  margin: 0;
  font-family: 'Zen Dots', cursive;
  background-color: #f3e7d3;
}

h1 {
  margin: 20px;
  font-size: 3rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

li {
  margin: 10px;
}


.list-projects {
  list-style: none;;
  padding-left: 0;
  text-align: center;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 60%;
}