@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

$color-red: #F64A4A;
$color-orange: #FB7C58;
$color-yellow: #F8CD65;
$color-green: #A4FFAF;
$color-white: #E6E5EA;
$color-grey: #817D92;
$color-dark-grey: #24232C;
$color-black: #18171F;

$font-size-large: 3.2rem;
$font-size-medium: 2.4rem;
$font-size-small: 1.8rem;
$font-size-xsmall: 1.6rem;

$font-family-primary: 'JetBrains Mono', monospace;
$font-weight-primary: 700;


$large-screen: 33.75em;