@use './../abstracts/variables' as v;

#char-button-active {
  background-color: v.$color-white;

  // &:hover {
  //   background-color: v.$color-white;
  // }
}

.dark-orange {
  color: v.$color-dark-orange;
}

.dark-green {
  color: v.$color-dark-green;
}

