@use './../abstracts/variables' as v;

#mark-button-active {
  background-color: v.$color-grey;

  &:hover {
    background-color: v.$color-white;
  }
}

.dark-orange {
  color: v.$color-dark-orange;
}

.dark-green {
  color: v.$color-dark-green;
}

