@use './../abstracts/mixins' as mix;
@use './../abstracts/variables' as v;

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	font-family: v.$font-family-primary;
	font-weight: v.$font-weight-primary;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	@include mix.flex-center;
	background-color: v.$color-black;
	height: 100vh;
	width: 100vw;
}

.hidden {
	display: none;
}