@use './../abstracts/mixins' as mix;
@use './../abstracts/variables' as v;
@use './../abstracts/breakpoints' as brk;

.password-output-container {
  @include mix.flex-center;
  justify-content: space-between;
  background-color: v.$color-dark-grey;
  padding: 1.7rem;
  margin-top: 1.6rem;

  @include brk.large-screen {
    padding: 2rem 3.2rem;
    margin-top: 3.1rem;
  }
}

.password-output {
  color: v.$color-white;
  font-size: v.$font-size-medium;
  line-height: 3.2rem;
  max-width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;

  @include brk.large-screen {
    font-size: v.$font-size-large;
    line-height: 4.2rem;
  }
}

.empty {
  opacity: 0.25;
}

.copied-container {
  display: flex;
  align-items: center;
}

.copied-label {
  color: v.$color-green;
  font-size: v.$font-size-small;
  line-height: 2.4rem;
  text-transform: uppercase;
  z-index: 2;
  margin-right: 1.6rem;
}

.copy-icon {
  width: 1.8rem;
  height: 2rem;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }

  &:active {
    translate: 0 0.1rem;
    filter: brightness(100);
  }

  @include brk.large-screen {
    width: 2.1rem;
    height: 2.4rem;
  }
}