@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

$color-dark-green: #31C3BD;
$color-light-green: #65E9E4;
$color-dark-blue: #1A2A33;
$color-blue: #1F3641;
$color-dark-orange: #F2B137;
$color-light-orange: #FFC860;
$color-white: #DBE8ED;
$color-grey: #A8BFC9;

$font-family-primary: 'Outfit', sans-serif;

$font-header-size-L: 4rem;
$font-header-size-M: 2.4rem;
$font-header-size-S: 2rem;
$font-header-size-XS: 1.6rem;
$font-paragraph-size: 1.4rem;

$font-header-size-L-kerning: 2.5px;
$font-header-size-M-kerning: 1.5px;
$font-header-size-S-kerning: 1.25px;
$font-header-size-XS-kerning: 1px;
$font-paragraph-kerning: 0.8px;

$large-screen: 90em;
$medium-screen: 48em;

