@use './../abstracts/variables' as v;
@use './../abstracts/mixins' as mix;
@use './../abstracts/breakpoints' as brk;


.active-x-score-container, .active-tie-score-container, .active-o-score-container {
  @include mix.flex-center-column;
  width: 100%;
  height: 6.4rem;
  border-radius: 1rem;

  @include brk.medium-screen {
    height: 7.2rem;
  }
}

.active-x-score-container {
  background-color: v.$color-light-green;
}

.active-tie-score-container {
  background-color: v.$color-grey;
}

.active-o-score-container {
  background-color: v.$color-dark-orange;
}

.active-x-score-label, .active-tie-score-label, .active-o-score-label {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.875px;
  color: v.$color-dark-blue;

  @include brk.medium-screen {
    font-size: 1.4rem;
  }
}

.active-x-score, .active-tie-score, .active-o-score {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1.25px;
  line-height: 2.5rem;

  @include brk.medium-screen {
    font-size: 2.4rem;
    letter-spacing: 1.5px;
    line-height: 3rem;
  }
}

