@use './../abstracts/mixins' as mix;
@use './../abstracts/variables' as v;
@use './../abstracts/breakpoints' as brk;

.active-game-container {
	width: 32.8rem;
	height: 51.6rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
}

// .active-xo-header-container {
// }

.active-turn-notifier {
	@include mix.flex-center;
	width: 9.6rem;
	height: 4rem;
	background-color: v.$color-blue;
	border-radius: 0.5rem;
}

.active-reset-button {
	@include mix.flex-center;
	@include mix.reset-button;
	width: 4rem;
	height: 4rem;
	background-color: v.$color-grey;
	border-radius: 0.5rem;
	justify-self: end;

	&:hover {
		cursor: pointer;
		background-color: v.$color-white;
	}

	&:active {
		@include mix.clicked-button;
	}
}

.active-xo-header-container {
	img {
		width: 3.2rem;
		height: 3.2rem;
		margin-right: 0.8rem;
	}
}

.active-turn-notifier {
	.current-turn-image {
		width: 1.6rem;
		height: 1.6rem;
		margin-right: 0.9rem;
	}

	p {
		font-weight: 700;
		color: v.$color-grey;
		font-size: 1.4rem;
		line-height: 1.8rem;
		letter-spacing: 0.875px;
	}
}

.active-reset-button {
	img {
		width: 1.5rem;
		height: 1.5rem;
	}
}
